[submodule "themes/basics"]
	path = themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
[submodule "public"]
	path = public
	url = git@github.com:mpaltun/mpaltun.github.io.git
	branch = master
